<div #body class="drumkit">
    <div #aBox class="instr-box">
        <h4 #aHeader>A</h4>
        <p #aParagraph class="instr">clap</p>
    </div>
    <div #sBox class="instr-box">
        <h4 #sHeader>S</h4>
        <p #sParagraph class="instr">hihat</p>
    </div>
    <div #dBox class="instr-box">
        <h4 #dHeader>D</h4>
        <p #dParagraph class="instr">kick</p>
    </div>
    <div #fBox class="instr-box">
        <h4 #fHeader>F</h4>
        <p #fParagraph class="instr">openhat</p>
    </div>
    <div #gBox class="instr-box">
        <h4 #gHeader>G</h4>
        <p #gParagraph class="instr">boom</p>
    </div>
    <div #hBox class="instr-box">
        <h4 #hHeader>H</h4>
        <p #hParagraph class="instr">ride</p>
    </div>
    <div #jBox class="instr-box">
        <h4 #jHeader>J</h4>
        <p #jParagraph class="instr">snare</p>
    </div>
    <div #kBox class="instr-box">
        <h4 #kHeader>K</h4>
        <p #kParagraph class="instr">tom</p>
    </div>
    <div #lBox class="instr-box">
        <h4 #lHeader>L</h4>
        <p #lParagraph class="instr">tink</p>
    </div>
</div>